<connectionStrings>  <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=eTools;Integrated Security=True" providerName="System.Data.SqlClient" />  <add name="ToolsRUsDB" connectionString="Data Source=.; Initial Catalog=eTools; Integrated Security=true" providerName="System.Data.SqlClient"/></connectionStrings>